<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1064290502678-bepmtfpqqpurl00sushh545jt7kpgdbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064290502678-bepmtfpqqpurl00sushh545jt7kpgdbe</string>
	<key>API_KEY</key>
	<string>AIzaSyB7eVmJPr9z0nNDZZHXhss6HKDtBNuVeMM</string>
	<key>GCM_SENDER_ID</key>
	<string>1064290502678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pear.Not-Uniscore</string>
	<key>PROJECT_ID</key>
	<string>not-uniscore</string>
	<key>STORAGE_BUCKET</key>
	<string>not-uniscore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064290502678:ios:4999dd27a1c73d14</string>
	<key>DATABASE_URL</key>
	<string>https://not-uniscore.firebaseio.com</string>
</dict>
</plist>
